<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EFCorePowerTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EFCorePowerTools.Properties.Settings>
            <setting name="ParticipateInTelemetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenGeneratedDbContext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeUiHintInConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscoverMultipleResultSets" serializeAs="String">
                <value>False</value>
            </setting>
        </EFCorePowerTools.Properties.Settings>
    </userSettings>
</configuration>