<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFrameworkCore.Scaffolding.Handlebars" version="2.0.0" targetFramework="net471" />
  <package id="EntityFrameworkCore.SqlServerCompact40.Core" version="2.2.0.7" targetFramework="net471" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net471" />
  <package id="Handlebars.Net" version="1.9.5" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.6.2" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net461" />
  <package id="MySqlConnector" version="0.49.2" targetFramework="net471" />
  <package id="NetTopologySuite.Core" version="1.15.1" targetFramework="net471" />
  <package id="NetTopologySuite.IO.SqlServerBytes" version="1.15.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Npgsql" version="4.0.4" targetFramework="net471" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="2.2.0" targetFramework="net471" />
  <package id="Pomelo.EntityFrameworkCore.MySql" version="2.2.0" targetFramework="net472" />
  <package id="Pomelo.JsonObject" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net461" />
  <package id="StrongNamer" version="0.0.8" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>