<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFrameworkCore.SqlServerCompact40" version="2.1.0-preview1-30" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0-preview1-26216-02" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Attributes" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="Npgsql" version="3.2.7" targetFramework="net461" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="2.1.0-preview1" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0-alpha-002" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0-preview1-26216-02" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0-preview1-26216-02" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.5.0-preview1-26216-02" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0-preview1-26216-02" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net461" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0-preview1-26216-02" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
</packages>