name: VSIX

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*'
      - '!.github/workflows/vsix.yml'
      - '!src/GUI/**/*'
      - '!src/Core/**/*'
    branches:
      - 'master'
  pull_request:
    branches:
      - '*'

env:
  VERSION: 2.6.${{ github.run_number }}

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.303'

    - name: Update Version
      run: |
        ((Get-Content -Path GUI/EFCorePowerTools/Properties/AssemblyInfo.cs -Raw) -Replace "2.6.0.1", "${{ env.VERSION }}") | Set-Content -Path GUI/EFCorePowerTools/Properties/AssemblyInfo.cs
        ((Get-Content -Path GUI/EFCorePowerTools/source.extension.vsixmanifest -Raw) -Replace "2.6.0", "${{ env.VERSION }}") | Set-Content -Path GUI/EFCorePowerTools/source.extension.vsixmanifest
        ((Get-Content -Path GUI/PowerToolsExtensionPack/source.extension.vsixmanifest -Raw) -Replace "2.6.0", "${{ env.VERSION }}") | Set-Content -Path GUI/PowerToolsExtensionPack/source.extension.vsixmanifest        
      working-directory: src
      shell: pwsh

    - name: Restore
      run: dotnet restore EFCorePowerTools.sln
      working-directory: src

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Build reveng tools
      shell: cmd
      run: |       
        call ${{ github.workspace}}\src\Core\efreveng60\BuildCmdlineTool.cmd
        call ${{ github.workspace}}\src\Core\efreveng70\BuildCmdlineTool.cmd
        call ${{ github.workspace}}\src\Core\efreveng80\BuildCmdlineTool.cmd

    - name: Extract and verify reveng60 file count
      shell: cmd
      run: |
        mkdir vsix
        7z x src/GUI/lib/efreveng60.exe.zip -oefreveng60 -y
        dir /a:-d /s /b "efreveng60" | find /c ":\"
        dir /a:-d /s /b "efreveng60" | find /c ":\" > filecount.txt
        findstr "109" filecount.txt

    - name: Build
      run: msbuild EFCorePowerTools.sln /property:Configuration=Release /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal /v:m
      working-directory: src

    - name: Extract and verify vsix file count
      shell: cmd
      run: |
        mkdir vsix
        7z x src/GUI/EFCorePowerTools/bin/Release/EFCorePowerTools.vsix -ovsix -y
        dir /a:-d /s /b "vsix" | find /c ":\" > filecount.txt
        findstr "76" filecount.txt

    - name: Move build output
      if: github.ref == 'refs/heads/master' && github.repository_owner == 'erikej' && github.event_name == 'push'  
      run: |
        mv src/GUI/EFCorePowerTools/bin/Release/EFCorePowerTools.vsix EFCorePowerTools-${{ env.VERSION }}.vsix
        mv src/GUI/PowerToolsExtensionPack/bin/Release/PowerToolsExtensionPack.vsix PowerToolsExtensionPack-${{ env.VERSION }}.vsix

    - name: Publish artifacts
      if: github.ref == 'refs/heads/master' && github.repository_owner == 'erikej' && github.event_name == 'push'
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts
        path: |
          *.vsix

    - name: Publish to Open VSIX Gallery
      if: github.ref == 'refs/heads/master' && github.repository_owner == 'erikej' && github.event_name == 'push'
      run: |
        $ErrorActionPreference='Stop'
        (new-object Net.WebClient).DownloadString("https://raw.github.com/madskristensen/ExtensionScripts/master/AppVeyor/vsix.ps1") | iex
        Vsix-PublishToGallery 
      shell: pwsh
      continue-on-error: false
